<title>Home Page</title>
</head>

<body>
    <div class="container mt-5 text-center">
        <p class="display-2">Home Page</p>
        <a href="/form/login"> <button class="btn btn-primary">Login</button></a>
    </div>