<title>Authenticate</title>
</head>

<body>

    <div class="container">
        <% if(userflag){%>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">User: <%= username %> Doesn't
                    Exist.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <%} %>
                <p class="display-2">Authentication Page</p>
                <br>

                <div class="m-1">
                    <button class="btn btn-primary" id="signUp">Sign Up</button>
                    <button class="btn btn-primary" id="logIn">Log In</button>
                </div>

                <div class="conatiner m-5">
                    <form action="/form/login" method="post" id="LogInForm" class="d-none">
                        <div class="mb-3">
                            <label for="usernameLog" class="form-label">Username</label>
                            <input type="text" name="username" id="usernameLog" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="passwordLog" class="form-label">Password</label>
                            <input type="password" name="password" id="passwordLog" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </form>

                    <div class="m-5"></div>

                    <form action="/form/signup" method="post" id="SignUpForm" class="d-none">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" name="name" id="name" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="usernameSign" class="form-label">Username</label>
                            <input type="text" name="username" id="usernameSign" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="passwordSign" class="form-label">Password</label>
                            <input type="password" name="password" id="passwordSign" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </form>

                </div>

    </div>

    <script src="/formJS.js"></script>